*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/public/uploads/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.#*
*~
*#
*.log
.DS_Store
*.swp
*.pid
db/schema.rb
db/schema.sql
coverage
coverage.data
config/database.yml
tmp/*
.idea
.bundle/environment.rb
.bundle
log/*
