<%= form_for(@navigator) do |f| %>
  <% if @navigator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@navigator.errors.count, "error") %> prohibited this navigator from being saved:</h2>

      <ul>
      <% @navigator.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
